body{
background-color:black;
color:lime;
}
iframe{
width:100%;
height:75vh;
border:none;
}
.item{
width:100%;
background-color: black;
display:block;
}
.new{
float:left;
cursor:pointer;
}
.opts{
display:block;
width:100%;
}
#password{
width:85%;
padding:15px;
outline:none;
border:none;
background-color: black;
color:lime;
}
#password-btn{
width:10%;
padding:15px;
border:none;
outline:none;
background-color:black;
color:lime;
cursor:pointer;
}
::placeholder{
color:lime;
font-size:1.2em;
font-style:italic;
}
#form{
display:none;
}
a{
color:lime;
text-decoration:none;
}
.save{
float:right;
cursor: pointer;
}
